---
layout: resume
---

<h2>Upcoming presentations</h2>
<ul class="empty-list">
{% for presentation in site.data.upcoming %}
<li>{{ presentation.date }} - {{ presentation.name}}</li>
{% endfor %}
</ul>
<span style="font-size: small"><em>*: presented by co author.</em></span>



      {% assign publications = site.data.publications %}
      {% include publications_meat.html %}
      
            {% assign publications = site.data.workingpapers %}
      {% include publications_meat.html %}
      
            {% assign publications = site.data.workinprogress %}
      {% include publications_meat.html %}

            {% assign publications = site.data.policy %}
      {% include publications_meat.html %}

      
