
<ul class="icon-links">


  <li class="icon-link-item"><a href="/" {% if page.url == "/" %} class="link-active"{% endif %} >Home</a></li>
  <li class="icon-link-item"><a href="/cv"{% if page.url == "/cv.html" %} class="link-active"{% endif %} >CV</a></li>
  <li class="icon-link-item"><a href="/broadness"{% if page.url == "/broadness.html" %} class="link-active"{% endif %}>Broadness data</a></li>
  <li class="icon-link-item"><a href="/miscoding"{% if page.url == "/miscoding.html" %} class="link-active"{% endif %}>Occupational miscoding</a></li>
  <li class="icon-link-item"><a href="/lcp"{% if page.url == "/lcp.html" %} class="link-active"{% endif %}>LCP solver</a></li>

</ul>

